@font-face {
    font-family: 'Transformers Movie';
    src: url('../fonts/TransformersMovie.eot');
    src: url('../fonts/TransformersMovie.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TransformersMovie.woff2') format('woff2'),
        url('../fonts/TransformersMovie.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
    background-color: #626e7c;
    background: url(../img/main-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #626d7a;
    margin-top:0;
}

@media (max-width:1380px){
    body{
        /* margin-top:45px; */
        background: url(../img/bg-pattern.png);
        background-repeat: repeat;
    }

}

@media (max-width:900px){
    body{
        /* margin-top:30px; */
    }
}

@media (max-width:576px){
    body{
        /* margin-top:10px; */
    }
}

@media (max-width:420px){
    body{
        margin-top:0;
    }
}

hr {
	min-height: 8vw;
	border: 0;
}

body.home {
    background-color: #626e7c!important; 
    background: url();
}

p {
    font-family: 'Courier Prime', Courier, monospace;
    color: #acacac;
}


#form {
    padding:15%;
    text-align: center;
}

#signup-form {
    padding-left:15%;
    padding-right:15%;
    text-align: center;
}

.form-control {
    text-align: center;
    background-color: #4f4f4f;
    border: 2px solid #262626;
    color: #acacac;
    font-family: 'Courier Prime', Courier, monospace;
}

.form-control:focus {
    background-color: #4f4f4f;
    color: #acacac;
    border-color: #ffcc00;

}

.robot-controller-title {
    max-width:100%;
    vertical-align:bottom;
}

h1.countdown {
    font-weight: 500;
    font-size: 1.6rem;
    padding: 6% 0 5% 25%;
    font-family: 'Transformers Movie';
    letter-spacing: 0.1rem;
    color:#000; 
    height: 100%;
    position: absolute;
    top:14%;
    left:3%;
    text-shadow: 1px 1px 0 #fff;
}

h1.countdown.red {
    font-weight: 500;
    font-size: 1.6rem;
    padding: 6% 0 5% 25%;
    font-family: 'Transformers Movie';
    color:#f00;  
}

h1 {
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Transformers Movie';
    /* color:#80D8FF;  */
}

.clock {
    width: 100%;
}


.container.container-body {
    max-width:1200px;
}

.container.deck-container {
    width: 500px;
    min-height:309px;
    position:relative;
    left:-40%;
    box-shadow: 4px 4px 6px rgba(0,0,0, .5);
}

.static-deck-container {
    max-width: 500px;
    margin-bottom:2%;
}

.static-deck-container > .first-row {
    padding-top:12%
}

@media(min-width:530px) {
    .static-deck-container > .first-row {
        padding-top:50px;
    }
}

.tile-bg {
    max-width: 100%;
    max-height: 100%;
}

.bg-85{
    max-width: 85%;
    max-height: 85%; 
}

.bg-90 {
    max-width: 90%;
    max-height: 90%;  
}

.select-robot-body {
    background: url(../img/select-robot-body-bg.png);
    background-size: 100%;
    background-repeat: repeat-y;
    padding-top:4%;
}

.deck-bg {
    min-height: 150px;
    padding: 0% 10% 0% 11%;
    background: url(../img/gui/robot-controller/robot-controller.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.robot-placeholder {
    min-height: 150px;
    padding: 0% 10% 0% 11%;
    background: url(../img/robots-placeholder.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.robot-placeholder > .first-row {
    padding-top: 7%;
}

.chat-mid-res-bg {
    margin-left:510px;
    width:360px;
    height:306px;
    background: url(../img/chat_mid-res_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
  
.col, [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
}

.tile {
    background: url(../img/tiles/TileSep-54.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ts47{
    /* background: url(../img/tiles/TileSep-47.png); */
}

.r3c5_bg {
    background: url(../img/tiles/r3c5_bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.r1c8_bg{
    background: url(../img/tiles/r1c8_bg.png);
    background-repeat: no-repeat;
    background-size: cover;  
}

.r3c7_bg {
    background: url(../img/tiles/r3c7_bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.r6c3_bg {
    background: url(../img/tiles/r6c3_bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.r6c5_bg {
    background: url(../img/tiles/r6c5_bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.tile-50 {
    background: url(../img/tiles/TileSep-50.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.finish {
    background: url(../img/tiles/TileSep-49.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.new-game {
    margin-top: 20%;
    width:25%;
    cursor: pointer;
}

p.robot-placeholder-name {
    font-family:'Transformers Movie';
    position:absolute;
    margin-left: 70px;
    margin-top: 25px;
    text-shadow: 1px 1px 0 #fff;
    font-size: 18px;
}

.newgame-btn {
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    width:130px; /* 107 */
    height:60px; /* 47*/
    border:none;
    background-color: #2f2f2f;
}


@media (max-width: 375px) {

}

.newgame-btn:active {
    filter: grayscale(100%);
}

.newgame-btn {
    background-image: url( '../img/btn/btn-new-game.png'); 
}

.rooms-container p:first-child {
    padding-top: 5%;
    text-align: center;
}

.rooms-container p {
    padding-bottom: 2%;
}

.rooms {
    background: url(../img/rooms-bg-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.last-p {
    margin-bottom:0px;
    padding-bottom:0px;
}

.container.login-container {
    margin-top:5%;
    max-width:790px;
    padding: 100px 100px;
    background: url(../img/home-z0-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



.login {
    background: url(../img/home-login-bg.png);
    background-repeat: repeat-y;
    background-size: contain;
}

.allrooms {
    background: url(../img/allrooms-bg-body.png);
    background-repeat: repeat-y;
    background-size: contain; 
}

.login-footer {
    background: url(../img/login-footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%; 
}

.login-inner-container{
    padding:0;
    max-width:770px;
}


.login-text {
    padding-left:8%;
    padding-right:8%;
    font-family: 'Courier Prime'
}

.green-water-right {
    background: url(../img/tiles/TileSep-58.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.submitLoginBtn {
    background-image: url( '../img/btn/btn-login.png'); 
}

.submitSignupBtn {
    background-image: url( '../img/btn/btn-signup.png'); 
}

.submitPlayBtn {
    background-image: url( '../img/btn/btn-play.png'); 
}

.submitLoginBtn, .submitPlayBtn, .submitSignupBtn {
        background-size: 100% 100%;
        background-repeat: no-repeat; 
        width:130px; /* 107 */
        height:60px; /* 47*/
        border:none;
        background-color: #2f2f2f;
        margin-bottom:10px;
}

.logoutBtn, .homeBtn, .roomsBtn, .rulesBtn {
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    width:45px; /* 107 */
    height:45px; /* 47*/
    border: 2px solid #242636;
    background-color: #313348;
    margin-bottom:15px;
    margin-left:5px;
}

.logoutBtn:active, .homeBtn:active, .roomsBtn:active,.submitLoginBtn:active, .submitPlayBtn:active, .submitSignupBtn:active, .rulesBtn:active {
    filter: grayscale(100%);
}

.logoutBtn {
    background-image: url( '../img/btn/btn-logout.png'); 
}

.homeBtn {
    background-image: url( '../img/btn/btn-home.png');  
}

.roomsBtn {
    background-image: url( '../img/btn/btn-rooms.png');   
}

.rulesBtn{
    background-image: url( '../img/btn/btn-rules.png');    
}

.navbar-container {
    background-image: url( '../img/navbar-bg-pattern.png');
    background-repeat:repeat-x;
    background-position-y: bottom;
}

.navbar-row {
    width:768px;
    padding:6px 25px 10px 25px;
}

.navbar-row-ingame {
    width:768px;
    padding: 0px 25px 0px 25px;
    align-items: baseline;
    margin-top:12px;
    margin-bottom:-20px;
}

@media (min-width: 477px) and (max-width:576px) {
    .submitLoginBtn, .submitPlayBtn, .submitSignupBtn, .newgame-btn {
        width:107px; /* 107 */
        height:47px; /* 47*/ 
    }
}

@media (max-width:476px) {
    .submitLoginBtn, .submitPlayBtn, .submitSignupBtn, .newgame-btn {
        width:79px; /* 107 */
        height:35px; /* 47*/ 
    }
}



.a-login {
    text-decoration:none;
    font-weight: 500;
    color: #ffcc00!important;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

.a-login:hover {
    color: #f6a044!important;
    text-decoration: none;
}

.green-water-bottom-rigth {
    background: url(../img/tiles/TileSep-60.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-container {
    background: url(../img/gui/chat-bg.png);
    background-repeat: no-repeat;
    background-size:100%;
    height:100vh;
    width: 300px;
    margin-top:16px;
}

.robots-container {
    background: url(../img/gui/robots-bg.png);
    background-repeat: no-repeat;
    background-size:100%;
    height:100vh;
    width: 200px;
    margin-top:16px;
}

.chat {
    margin-top: 85px;
    margin-left:15px;
    width: 251px;
    border: 2px solid #292929;
    border-radius: 10px;
    background-color: #373737;
    padding-top: 15px;
    padding-left: 15px;
}

.robots {
    margin-top: 85px;
    margin-left:28px;
}

.robots img {
    width: 166px;
    height: 68px;
    margin-bottom:5px;
}

.robot-selection-btn {
    width:25%;
    cursor: pointer;
}

.rooms-container {
    border-radius:10px;
    border: 2px solid #202020;
    background-color: #2f2f2f;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:3%;
}